<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <h4>New scenario</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="padding:40px 50px;">
        <form role="form">
          <div class="form-group">
            <label for="name"><span class="glyphicon glyphicon-tag"></span> Scenario name: </label>
            <input type="text" class="form-control" id="name" placeholder="Your scenario name goes here.">
          </div>
          <div class="form-group">
            <label for="probability"><span class="glyphicon glyphicon-screenshot"></span> Probability to here: </label>
            <input type="text" class="form-control" id="probability" placeholder="If you have the probability, type it here">
          </div>
          <div class="form-group">
            <label for="gain"><span class="glyphicon glyphicon-screenshot"></span> Gain</label>
            <input type="text" class="form-control" id="gain" placeholder="Your scenario name goes here.">
          </div>
          <div class="form-group">
            <label for="parent"><span class="glyphicon glyphicon-triangle-top"></span>Parent</label>
            <input type="text" class="form-control" id="parent" value="asdasd" disabled="true">
          </div>
            <button id="add" type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-plus"></span> Add Scenario</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
      </div>
    </div>    
  </div>
</div>